@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Tahoma', 'Trebuchet MS', sans-serif;
  overflow: hidden;
}

/* Ajustes finos no XP.css */
.window .title-bar {
  /* Aumentando consideravelmente o padding vertical para a barra ficar mais espessa */
  padding: 8px 3px 12px 3px !important;
  min-height: 32px !important;
}

/* Mantendo os componentes internos originais como pedido */
.title-bar-text {
  padding-left: 2px;
}

.title-bar-controls button {
  /* Tamanho padrão do xp.css mantido */
}

/* Bordas azuis personalizadas para janelas de alerta (Fidelidade XP) */
.xp-border {
  border-left: 3px solid #0058e4 !important;
  border-right: 3px solid #0058e4 !important;
  border-bottom: 1px solid #0058e4 !important;
}